{#{% load staticfiles %}#}
<!DOCTYPE html><!--[if IE]>  <html class="ie"> <![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<title>
		</title>
		<link rel="stylesheet" type="text/css" href="./2016Jun_MonthlySummary_files/style.css" />
{#		<link rel="stylesheet" type="text/css" href="{% static '2016Jun_MonthlySummary_files/style.css' %}" />#}
	</head>
	<body style="height: 882px;">
		<div class="stl_02">
			<div class="stl_03">
				<object data="./2016Jun_MonthlySummary_files/img_03.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:66em; height:51em;">
					<embed src="./2016Jun_MonthlySummary_files/img_03.svg" type="image/svg+xml" class="stl_04" />
{#                    				<object data="{% static '2016Jun_MonthlySummary_files/img_03.svg' %}" type="image/svg+xml" class="stl_04" style="position:absolute; width:66em; height:51em;">#}
{#					<embed src="{% static '2016Jun_MonthlySummary_files/img_03.svg' %}" type="image/svg+xml" class="stl_04" />#}
				</object>
			</div>
			<div class="view">
				<div class="stl_05 stl_06">
					<div class="stl_01" style="top:1.4486em; left:61.64em;"><span class="stl_07 stl_08 stl_09" style="font-weight:bold; word-spacing:0em;">Page 1 of 1 &nbsp;</span></div>
					<div class="stl_01" style="top:2.2603em; left:32.9492em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0004em;">Display name: &nbsp;</span></div>
					<div class="stl_01" style="top:3.1028em; left:32.9492em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0003em;">Legal name: &nbsp;</span></div>
					<div class="stl_01" style="top:2.214em; left:41.6342em;"><span class="stl_12 stl_13 stl_11" style="word-spacing:0.0002em;">{% if storename %}{{ storename }}{% else %}Meridian Store{% endif %} &nbsp;</span></div>
					<div class="stl_01" style="top:3.0565em; left:41.6342em;"><span class="stl_12 stl_13 stl_09" style="word-spacing:0.0002em;">{% if storename %}{{ storename }}{% else %}T. Tenson Ge{% endif %} &nbsp;</span></div>
					<div class="stl_01" style="top:3.7244em; left:1.44em;"><a href="https://sellercentral.amazon.com/gp/help/200989210" target="_blank"><span class="stl_14 stl_08 stl_11" style="word-spacing:0.0003em;">Questions? Get Help Online &nbsp;</span></a></div>
					<div class="stl_01" style="top:5.3144em; left:1.6858em;"><span class="stl_15 stl_13 stl_11" style="word-spacing:0.0003em;">Account activity from {% if begin_date_str %}{{ begin_date_str }}{% else %}Jun 1, 2016{% endif %} through {% if end_date_str %}{{ end_date_str }}{% else %}Jun 30, 2016{% endif %} &nbsp;</span></div>
					<div class="stl_01" style="top:5.4585em; left:53.3333em;"><span class="stl_16 stl_17 stl_18" style="word-spacing:0.0003em;">All amounts in USD, unless specified &nbsp;</span></div>
					<div class="stl_01" style="top:6.6594em; left:2.0042em;"><span class="stl_19 stl_13 stl_11" style="font-weight:bold;">Summaries &nbsp;</span></div>
					<div class="stl_01" style="top:6.7503em; left:11.3633em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0003em;">Can include Amazon Marketplace, Fulfillment by Amazon (FBA), and Amazon Webstore transactions &nbsp;</span></div>
					<div class="stl_01" style="top:7.9503em; left:62.4608em;"><span class="stl_20 stl_08 stl_09">Totals &nbsp;</span></div>
					<div class="stl_01" style="top:8.9961em; left:1.9608em;"><span class="stl_20 stl_08 stl_09">Income &nbsp;</span></div>
					<div class="stl_01" style="top:8.9961em; left:15.27em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0004em;">Net sales, credits, and refunds &nbsp;</span></div>
                {% if  summaries_income %}
                    <div class="stl_01" style="top:8.9961em; left:{{ summaries_income.number_length }}em;"><span class="stl_20 stl_08 stl_11">{{ summaries_income.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:8.9961em; left:61.7783em;"><span class="stl_20 stl_08 stl_11">0 &nbsp;</span></div>
                {% endif %}
					<div class="stl_01" style="top:9.6688em; left:1.9608em;"><span class="stl_20 stl_08 stl_11">Expenses &nbsp;</span></div>
					<div class="stl_01" style="top:11.1169em; left:1.9608em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0003em;">Sales Tax &nbsp;</span></div>
					<div class="stl_01" style="top:12.0719em; left:1.9608em;"><span class="stl_20 stl_08 stl_09">Transfers &nbsp;</span></div>
					<div class="stl_01" style="top:9.6688em; left:15.27em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0004em;">Net fees, including Amazon service fees, selling fees, FBA fees, shipping, and taxes &nbsp;</span></div>
					<div class="stl_01" style="top:11.1169em; left:15.27em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0003em;">Net taxes collected on product sales and services &nbsp;</span></div>
					<div class="stl_01" style="top:12.0719em; left:15.27em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.0004em;">Net deposits and withdrawals &nbsp;</span></div>
                {% if summaries_expenses %}
                    <div class="stl_01" style="top:9.6688em; left:{{ summaries_expenses.number_length }}em;"><span class="stl_20 stl_08 stl_11">{{ summaries_expenses.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:9.6688em; left:61.5917em;"><span class="stl_20 stl_08 stl_11">0 &nbsp;</span></div>
                {% endif %}
{#                {% if summaries_transfers %}#}
{#                    <div class="stl_01" style="top:11.1169em; left:{{ summaries_transfers.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ summaries_transfers.number }}</span></div>#}
{#                {% else %}#}
					<div class="stl_01" style="top:11.1169em; left:63.7325em;"><span class="stl_20 stl_08 stl_09">0</span></div>
{#                {% endif %}#}
                {% if summaries_transfers %}
                    <div class="stl_01" style="top:12.0719em; left:{{ summaries_transfers.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ summaries_transfers.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:12.0719em; left:63.7325em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}
					<div class="stl_01" style="top:16.0135em; left:2.0042em;"><span class="stl_19 stl_13 stl_09" style="font-weight:bold;">Income &nbsp;</span></div>
                {% if Income %}
                    <div class="stl_01" style="top:15.8772em; left:{{ Income.number_length }}em;"><span class="stl_21 stl_13 stl_11" style="font-weight:bold;">{{ Income.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:15.8772em; left:28.1058em;"><span class="stl_21 stl_13 stl_11" style="font-weight:bold;">0 &nbsp;</span></div>
                {% endif %}
					<div class="stl_01" style="top:17.2519em; left:30.17em;"><span class="stl_20 stl_08 stl_11">Credits &nbsp;</span></div>
					<div class="stl_01" style="top:16.016em; left:33.97em;"><span class="stl_19 stl_13 stl_09" style="font-weight:bold;">Expenses &nbsp;</span></div>
                {% if Exception %}
                    <div class="stl_01" style="top:15.8797em; left:{{ Exception.number_length }}em;"><span class="stl_21 stl_13 stl_11" style="font-weight:bold;">{{ Exception.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:15.8797em; left:59.8233em;"><span class="stl_21 stl_13 stl_11" style="font-weight:bold;">0 &nbsp;</span></div>
                {% endif %}
					<div class="stl_01" style="top:17.2519em; left:62.1667em;"><span class="stl_20 stl_08 stl_11">Credits &nbsp;</span></div>
					<div class="stl_01" style="top:17.2519em; left:24.5783em;"><span class="stl_20 stl_08 stl_11">Debits &nbsp;</span></div>
					<div class="stl_01" style="top:17.2519em; left:56.5875em;"><span class="stl_20 stl_08 stl_11">Debits &nbsp;</span></div>
					<div class="stl_01" style="top:18.4878em; left:1.9792em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0004em;">Product sales (non-FBA) &nbsp;</span></div>
					<div class="stl_01" style="top:19.4061em; left:1.9792em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0003em;">Product sale refunds (non-FBA) &nbsp;</span></div>
					<div class="stl_01" style="top:19.9994em; left:1.9792em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0004em;">FBA product sales &nbsp;</span></div>
                {% if product_sales %}
                    <div class="stl_01" style="top:18.4878em; left:{{ product_sales.number_length }}em;"><span class="stl_20 stl_08 stl_11">{{ product_sales.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:18.4878em; left:29.7458em;"><span class="stl_20 stl_08 stl_11">0 &nbsp;</span></div>
                {% endif %}

                {% if FBA_product_sales %}
                    <div class="stl_01" style="top:19.9994em; left:{{ FBA_product_sales.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ FBA_product_sales.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:19.9994em; left:31.6925em;"><span class="stl_20 stl_08 stl_09">0</span></div>
				{% endif %}
					<div class="stl_01" style="top:18.5053em; left:33.92em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0003em;">Seller fulfilled selling fees &nbsp;</span></div>
					<div class="stl_01" style="top:19.4386em; left:33.92em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0002em;">FBA selling fees &nbsp;</span></div>
                {% if  FBA_selling_fees %}
                    <div class="stl_01" style="top:18.5053em; left:{{ FBA_selling_fees.number_length }}em;"><span class="stl_20 stl_08 stl_11">{{ FBA_selling_fees.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:18.5053em; left:55.775em;"><span class="stl_20 stl_08 stl_11">0 &nbsp;</span></div>
			    {% endif %}
                {% if seller_fulfilled_selling_fees %}
                    <div class="stl_01" style="top:19.4386em; left:{{ seller_fulfilled_selling_fees.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ seller_fulfilled_selling_fees.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:19.4386em; left:57.8892em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}
                {% if  product_refund %}
                    <div class="stl_01" style="top:19.4061em; left:{{ product_refund.number_length }}em;"><span class="stl_20 stl_08 stl_11">{{ product_refund.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:19.4061em; left:24.2525em;"><span class="stl_20 stl_08 stl_11">0 &nbsp;</span></div>
                {% endif %}

                {% if FBA_product_refund %}
                    <div class="stl_01" style="top:21.3036em; left:{{ FBA_product_refund.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ FBA_product_refund.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:21.3036em; left:25.9067em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}
					<div class="stl_01" style="top:19.9998em; left:33.92em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0002em;">Selling fee refunds &nbsp;</span></div>
                {% if  selling_fee_refund %}
                    <div class="stl_01" style="top:19.9978em; left:{{ selling_fee_refund.number_length }}em;"><span class="stl_20 stl_08 stl_11">{{ selling_fee_refund.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:19.9978em; left:62.5542em;"><span class="stl_20 stl_08 stl_11">0 &nbsp;</span></div>
			    {% endif %}
					<div class="stl_01" style="top:21.3036em; left:1.9792em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0003em;">FBA product sale refunds &nbsp;</span></div>
					<div class="stl_01" style="top:21.3219em; left:33.92em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:0.0001em;">FBA transaction fees &nbsp;</span></div>
					<div class="stl_01" style="top:22.2553em; left:33.92em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:0.0001em;">FBA transaction fee refunds &nbsp;</span></div>
					<div class="stl_01" style="top:23.1736em; left:33.92em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:0.0002em;">Other transaction fees &nbsp;</span></div>
					<div class="stl_01" style="top:24.1686em; left:33.92em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:0.0001em;">Other transaction fee refunds &nbsp;</span></div>
                {% if fba_transaction_fees %}
                    <div class="stl_01" style="top:21.3211em; left:{{ fba_transaction_fees.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ fba_transaction_fees.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:21.3211em; left:57.9192em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}
                {% if other_transaction_fees %}
                    <div class="stl_01" style="top:23.1736em; left:{{ other_transaction_fees.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ other_transaction_fees.number }}</span></div>
                {% else %}
                    <div class="stl_01" style="top:23.1736em; left:57.9192em;"><span class="stl_20 stl_08 stl_09">0</span></div>
				{% endif %}
					<div class="stl_01" style="top:22.2836em; left:1.9792em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0003em;">FBA inventory credit &nbsp;</span></div>
					<div class="stl_01" style="top:23.1561em; left:1.9792em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0002em;">Shipping credits &nbsp;</span></div>
                {% if FBA_invenbry_credit %}
                   <div class="stl_01" style="top:22.2836em; left:{{ FBA_invenbry_credit.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ FBA_invenbry_credit.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:22.2836em; left:31.73em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}

                {% if fba_transaction_fee_refunds %}
                    <div class="stl_01" style="top:22.2553em; left:{{ fba_transaction_fee_refunds.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ fba_transaction_fee_refunds.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:22.2553em; left:63.7425em;"><span class="stl_20 stl_08 stl_09">0</span></div>
				{% endif %}
                {% if other_transaction_fee_refunds %}
                    <div class="stl_01" style="top:24.1686em; left:{{ other_transaction_fee_refunds.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ other_transaction_fee_refunds.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:24.1686em; left:63.7208em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}
                {% if shipping_credits %}
                    <div class="stl_01" style="top:23.1561em; left:{{ shipping_credits.number_length }}em;"><span class="stl_20 stl_08 stl_11">{{ shipping_credits.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:23.1561em; left:30.2783em;"><span class="stl_20 stl_08 stl_11">0 &nbsp;</span></div>
                {% endif %}
					<div class="stl_01" style="top:24.0894em; left:1.9792em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0004em;">Shipping credit refunds &nbsp;</span></div>
					<div class="stl_01" style="top:25.0236em; left:1.9792em;"><span class="stl_20 stl_08 stl_09" style="word-spacing:0.0003em;">Gift wrap credits &nbsp;</span></div>

                {% if shipping_credits_refund %}
                    <div class="stl_01" style="top:24.0894em; left:{{ shipping_credits_refund.number_length }}em;"><span class="stl_20 stl_08 stl_11">{{ shipping_credits_refund.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:24.0894em; left:24.5925em;"><span class="stl_20 stl_08 stl_11">0 &nbsp;</span></div>
                {% endif %}

                {% if gift_wrap_credits %}
                    <div class="stl_01" style="top:25.0228em; left:{{ gift_wrap_credits.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ gift_wrap_credits.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:25.0228em; left:31.7233em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}

                {% if promotional_rebates_refund %}
                    <div class="stl_01" style="top:27.9011em; left:{{ promotional_rebates_refund.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ promotional_rebates_refund.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:27.9011em; left:31.7233em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}
					<div class="stl_01" style="top:25.0019em; left:33.92em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0003em;">FBA inventory and inbound services fees &nbsp;</span></div>
					<div class="stl_01" style="top:25.4559em; left:33.92em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0003em;">Shipping label purchases &nbsp;</span></div>
					<div class="stl_01" style="top:26.9628em; left:33.92em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0002em;">Shipping label refunds &nbsp;</span></div>
                {% if FBA_inventory_inbound_services_fees %}
                    <div class="stl_01" style="top:25.1019em; left:{{ FBA_inventory_inbound_services_fees.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ FBA_inventory_inbound_services_fees.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:25.1019em; left:57.965em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}
                {% if Shipping_label_purchases %}
                    <div class="stl_01" style="top:25.4569em; left:{{ Shipping_label_purchases.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ Shipping_label_purchases.number }}</span></div>
                {% else %}
                    <div class="stl_01" style="top:25.4569em; left:57.95em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}
					<div class="stl_01" style="top:25.4558em; left:1.9792em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0004em;">Gift wrap credit refunds &nbsp;</span></div>
					<div class="stl_01" style="top:26.9669em; left:1.9792em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0002em;">Promotional rebates &nbsp;</span></div>

                {% if gift_wrap_credits_refund %}
                    <div class="stl_01" style="top:25.4558em; left:{{ gift_wrap_credits_refund.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ gift_wrap_credits_refund.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:25.4558em; left:25.9375em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}

                {% if promotional_rebates %}
                     <div class="stl_01" style="top:26.9669em; left:{{ promotional_rebates.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ promotional_rebates.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:26.9669em; left:25.9525em;"><span class="stl_20 stl_08 stl_09">0</span></div>
				{% endif %}
                {% if Shipping_label_refunds %}
                    <div class="stl_01" style="top:26.9628em; left:{{ Shipping_label_refunds.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ Shipping_label_refunds.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:26.9628em; left:63.7208em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}
                {% if carrier_shipping_label_adjustments %}
                    <div class="stl_01" style="top:27.9361em; left:{{ carrier_shipping_label_adjustments.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ carrier_shipping_label_adjustments.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:27.9361em; left:63.7158em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}
					<div class="stl_01" style="top:27.9011em; left:1.9792em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0002em;">Promotional rebate refunds &nbsp;</span></div>
					<div class="stl_01" style="top:28.7828em; left:1.9792em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0002em;">A-to-z Guarantee claims &nbsp;</span></div>
					<div class="stl_01" style="top:27.9236em; left:33.9192em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0003em;">Carrier shipping label adjustments &nbsp;</span></div>
					<div class="stl_01" style="top:28.8878em; left:33.92em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0001em;">Service fees &nbsp;</span></div>
                {% if a_to_z_guarantee_chaims %}
                    <div class="stl_01" style="top:28.7828em; left:{{ a_to_z_guarantee_chaims.number_length }}em;"><span class="stl_20 stl_08 stl_11">0 &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:28.7828em; left:24.5925em;"><span class="stl_20 stl_08 stl_11">0 &nbsp;</span></div>
                {% endif %}
                {% if chargebacks %}
                    <div class="stl_01" style="top:29.8294em; left:{{ chargebacks.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ chargebacks.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:29.8294em; left:25.9225em;"><span class="stl_20 stl_08 stl_09">0</span></div>
				{% endif %}
                {% if Service_fees %}
                    <div class="stl_01" style="top:28.8878em; left:{{ Service_fees.number_length }}em;"><span class="stl_20 stl_08 stl_11">{{ Service_fees.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:28.8878em; left:56.5892em;"><span class="stl_20 stl_08 stl_11">0 &nbsp;</span></div>
                {% endif %}
                {% if Refund_administration_fees %}
                    <div class="stl_01" style="top:29.8519em; left:{{ Refund_administration_fees.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ Refund_administration_fees.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:29.8519em; left:56.9433em;"><span class="stl_20 stl_08 stl_09">0 &nbsp;</span></div>
                {% endif %}
					<div class="stl_01" style="top:29.8294em; left:1.9792em;"><span class="stl_20 stl_08 stl_11">Chargebacks &nbsp;</span></div>
					<div class="stl_01" style="top:29.8519em; left:33.92em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0002em;">Refund administration fees &nbsp;</span></div>
					<div class="stl_01" style="top:30.4204em; left:33.92em;"><span class="stl_20 stl_08 stl_09">Adjustments &nbsp;</span></div>
                {% if Adjustments %}
                    <div class="stl_01" style="top:30.4204em; left:{{ Adjustments.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ Adjustments.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:30.4204em; left:63.6667em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}
					<div class="stl_01" style="top:31.9053em; left:33.9542em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0005em;">Cost of Advertising &nbsp;</span></div>
					<div class="stl_01" style="top:32.9103em; left:33.9767em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0002em;">Refund for Advertiser &nbsp;</span></div>
                {% if cost_of_advertising %}
                    <div class="stl_01" style="top:31.9869em; left:{{ cost_of_advertising.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ cost_of_advertising.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:31.9869em; left:58.0092em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}
					<div class="stl_01" style="top:32.1711em; left:17.7483em;"><span class="stl_22 stl_08 stl_09" style="font-weight:bold;">subtotals &nbsp;</span></div>
                {% if income_subtotal_debits %}
                    <div class="stl_01" style="top:32.1761em; left:{{ income_subtotal_debits.number_length }}em;"><span class="stl_20 stl_08 stl_11">{{ income_subtotal_debits.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:32.1761em; left:24.2375em;"><span class="stl_20 stl_08 stl_11">0 &nbsp;</span></div>
				{% endif %}
                {% if income_subtotal_credits %}
                    <div class="stl_01" style="top:32.1761em; left:{{ income_subtotal_credits.number_length }}em;"><span class="stl_20 stl_08 stl_11">{{ income_subtotal_credits.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:32.1761em; left:29.7458em;"><span class="stl_20 stl_08 stl_11">0 &nbsp;</span></div>
                {% endif %}
                {% if refund_for_advertiser %}
                    <div class="stl_01" style="top:33.1344em; left:{{ refund_for_advertiser.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ refund_for_advertiser.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:33.1344em; left:63.665em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}
					<div class="stl_01" style="top:34.2777em; left:2.0042em;"><span class="stl_19 stl_13 stl_11" style="font-weight:bold;">Transfers &nbsp;</span></div>
                {% if Transfers %}
                    <div class="stl_01" style="top:34.1414em; left:{{ Transfers.number_length }}em;"><span class="stl_21 stl_13 stl_09" style="font-weight:bold;">{{ Transfers.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:34.1414em; left:31.43em;"><span class="stl_21 stl_13 stl_09" style="font-weight:bold;">0</span></div>
                {% endif %}
					<div class="stl_01" style="top:34.8553em; left:49.7867em;"><span class="stl_22 stl_08 stl_09" style="font-weight:bold;">subtotals &nbsp;</span></div>
                {% if expense_subtotal_debits %}
                    <div class="stl_01" style="top:34.8578em; left:{{ expense_subtotal_debits.number_length }}em;"><span class="stl_20 stl_08 stl_11">{{ expense_subtotal_debits.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:34.8578em; left:55.7942em;"><span class="stl_20 stl_08 stl_11">0 &nbsp;</span></div>
                {% endif %}
                {% if expense_subtotal_credits %}
                    <div class="stl_01" style="top:34.9319em; left:{{ expense_subtotal_credits.number_length }}em;"><span class="stl_20 stl_08 stl_11">{{ expense_subtotal_credits.number }} &nbsp;</span></div>
                {% else %}
					<div class="stl_01" style="top:34.9319em; left:62.6667em;"><span class="stl_20 stl_08 stl_11">0 &nbsp;</span></div>
                {% endif %}
					<div class="stl_01" style="top:35.6186em; left:24.6325em;"><span class="stl_20 stl_08 stl_11">Debits &nbsp;</span></div>
                {% if transfers_to_bank_account_sum %}
                    <div class="stl_01" style="top:36.7828em; left:{{ transfers_to_bank_account_sum.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ transfers_to_bank_account_sum.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:36.7828em; left:25.9617em;"><span class="stl_20 stl_08 stl_09">0</span></div>
				{% endif %}
					<div class="stl_01" style="top:35.6186em; left:30.2292em;"><span class="stl_20 stl_08 stl_11">Credits &nbsp;</span></div>
					<div class="stl_01" style="top:36.7828em; left:1.9792em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0002em;">Transfers to bank account &nbsp;</span></div>
					<div class="stl_01" style="top:37.7011em; left:1.9792em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0002em;">Failed transfers to bank account &nbsp;</span></div>
					<div class="stl_01" style="top:38.6344em; left:1.9792em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0003em;">Charges to credit card &nbsp;</span></div>
					<div class="stl_01" style="top:36.906em; left:34.26em;"><span class="stl_19 stl_13 stl_09" style="font-weight:bold; word-spacing:0.0001em;">Sales Tax &nbsp;</span></div>
					<div class="stl_01" style="top:36.9869em; left:63.7108em;"><span class="stl_19 stl_13 stl_09" style="font-weight:bold;">0</span></div>
					<div class="stl_01" style="top:38.1619em; left:62.2792em;"><span class="stl_20 stl_08 stl_11">Credits &nbsp;</span></div>
					<div class="stl_01" style="top:39.2619em; left:63.805em;"><span class="stl_20 stl_08 stl_09">0</span></div>
					<div class="stl_01" style="top:37.7011em; left:31.7517em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% if Charges_to_credit_card %}
                    <div class="stl_01" style="top:38.6344em; left:{{ Charges_to_credit_card.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ Charges_to_credit_card.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:38.6344em; left:31.7417em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}
					<div class="stl_01" style="top:38.1636em; left:56.5575em;"><span class="stl_20 stl_08 stl_11">Debits &nbsp;</span></div>
					<div class="stl_01" style="top:39.1803em; left:34.1658em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0004em;">Sales, shipping, and gift wrap tax collected &nbsp;</span></div>
					<div class="stl_01" style="top:40.2628em; left:34.1658em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0003em;">Sales tax refunds &nbsp;</span></div>
					<div class="stl_01" style="top:40.2636em; left:58.0508em;"><span class="stl_20 stl_08 stl_09">0</span></div>
					<div class="stl_01" style="top:41.1891em; left:58.0625em;"><span class="stl_20 stl_08 stl_09">0</span></div>
					<div class="stl_01" style="top:40.9153em; left:17.7483em;"><span class="stl_22 stl_08 stl_09" style="font-weight:bold;">subtotals &nbsp;</span></div>
				{% if transfers_to_bank_account_sum %}
                   <div class="stl_01" style="top:40.9203em; left:{{ transfers_to_bank_account_sum.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ transfers_to_bank_account_sum.number }}</span></div>
                {% else %}
                    <div class="stl_01" style="top:40.9203em; left:25.8692em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}
                {% if  subtotal_transfers %}
                    <div class="stl_01" style="top:40.9253em; left:{{ subtotal_transfers.number_length }}em;"><span class="stl_20 stl_08 stl_09">{{ subtotal_transfers.number }}</span></div>
                {% else %}
					<div class="stl_01" style="top:40.9253em; left:31.7183em;"><span class="stl_20 stl_08 stl_09">0</span></div>
                {% endif %}
					<div class="stl_01" style="top:41.1891em; left:49.7867em;"><span class="stl_22 stl_08 stl_09" style="font-weight:bold;">subtotals &nbsp;</span></div>
					<div class="stl_01" style="top:41.1891em; left:63.9108em;"><span class="stl_20 stl_08 stl_09">0</span></div>
					<div class="stl_01" style="top:47.2011em; left:1.4758em;"><span class="stl_20 stl_08 stl_11" style="word-spacing:0.0003em;">Information in this statement does not constitute accounting, tax, legal, or other professional advice. &nbsp;</span></div>
				</div>
			</div>
		</div>
	</body>
</html>
