{% extends "base.html" %}
{% load staticfiles %}


{% block links %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">

<style type="text/css">
.loading{
    position: absolute;
    top:10%;
    left:45%;
    margin-left:auto;margin-right:auto;
    opacity: 0.7;
    z-index:9999;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.cover {
    position:fixed; top: 0px; right:0px; bottom:0px;filter: alpha(opacity=60); background-color: #777;
    z-index: 1002; left: 0px; display:none;
    opacity:0.5; -moz-opacity:0.5;
}
</style>


{% endblock %}


{% block active_list %}
        <li class="active"><a href="/manage/files-list/"   class="J_pro"><i class="fa fa-link"></i> <span>文件列表</span></a></li>
        <li  ><a href="/manage/"><i class="fa fa-link"></i> <span>文件上传</span></a>
        </li>
        <li ><a href="/manage/filename-to-storename/"   class="J_pro"><i class="fa fa-link"></i> <span>文件名对应店铺</span></a></li>
        <li ><a href="/manage/inventory-report-import/"   class="J_pro"><i class="fa fa-link"></i> <span>InventoryReport导入</span></a></li>
{% endblock %}




{% block content %}
<div id="cover" class="cover"></div>

<div class="loading" id="loading"></div>
<div class="row" >
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>上传的文件列表</h5>

                </div>
                <div class="ibox-content">

                    <div class="project-list">
                        {% csrf_token %}
                        <div id="toolbar">
                          <button id="remove" class="btn btn-danger" disabled>
                            <i class="glyphicon glyphicon-remove"></i> Delete
                          </button>
                        </div>
                        <table class="table table-hover" 
                               id="list-files-table-id"  
                               data-show-export="true"
                               data-show-columns="true"
                               data-show-pagination-switch="true"
                               >
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block footer %}

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>

<script src="http://issues.wenzhixin.net.cn/bootstrap-table/assets/bootstrap-table/src/extensions/export/bootstrap-table-export.js"></script>
<script src="http://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>




<script>
    var csrf_token  = $("[name='csrfmiddlewaretoken']").val();
    var $table = $('#list-files-table-id');
    var $remove = $('#remove');
    selections = [];

 function initTable() {
    $table.bootstrapTable({
        url: '/manage/list-files-json/',
        toolbar: '#toolbar',               //工具按钮用哪个容器
        search: true,
        strictSearch: true,
        showRefresh: true,
        showToggle: true,
        striped: true,                    //是否显示行间隔色
    
        sortable: true,                   //是否启用排序
        sortOrder: "trade_id",            //排序方式
        pageNumber: 1,                    //初始化加载第一页，默认第一页
        pageSize: 10,                     //每页的记录行数（*）
        pageList: [10, 20, 500, 100,150], //可供选择的每页的行数（*）
        dataType: "json",
        queryParamsType: "",
        //queryParams: {"is_query": "1", "platform":'amazon'},
        pagination: true,
        singleSelect: false,
        sidePagination: "server",         //服务器分页
        columns: [
        [
                    {
                        field: 'state',
                        checkbox: true,
                        rowspan: 2,
                        align: 'center',
                        valign: 'middle'
                    }, {
                        title: 'Item ID',
                        field: 'id',
                        rowspan: 2,
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        //footerFormatter: totalTextFormatter
                    }, {
                        title: 'Item Detail',
                        colspan: 5,
                        align: 'center'
                    }
        ],
        [{
            field: 'serial_number',
            title: '店铺代号',
            align: 'center',
            valign: 'middle'
        },{
            field: 'filename',
            title: '文件名',
            align: 'center',
            valign:'middle',
            formatter: function (value, row, index) {
                fvalue = value.split("__");
                filename = fvalue[fvalue.length-1];
                return filename;
            }
        },{
            field: 'uploadtime',
            title: '上传时间',
            align: 'center',
            valign: 'middle'
        },{
            field: 'file_statue',
            title: "状态",
            align: 'center',
            valign:'middle',
            formatter: function (value, row, index) {
                if (value == '0'){
                    htm_str =  "<span >正常</span>";
                }else if(value == '1'){
                  htm_str =  "<span style='color:green'>正在更新..</span>";
                }else if(value == '2') {
                    htm_str =  "<span style='color:blue'>已更新</span>";
                }else{
                    htm_str =  "<a onclick=javascript:error_detail(this); ><span style='color:red'>异常</span></a>";
                }
                return htm_str;
            }
        },{
            field: "file_path",
            title: 'statement更新',
            align: 'center',
            valign: 'middle',
            formatter:function (value, row, index) {
                filename = value.split("/");
                filename = filename[filename.length-1].replace(" ","");
                html_str = "<button class='btn btn-primary' onclick=javascript:statement_update_file(\'"+filename+"\');>更新</button>";
                return html_str;
            }
        }
        /*, {
            field: 'file_path',
            title: "操作",
            align: 'center',
            valign:'middle',
            formatter: function (value, row, index) {
                filename = value.split("/");
                filename = filename[filename.length-1].replace(" ","");
                htm_str =  "<button class='btn btn-primary' onclick=javascript:delete_file(\'"+filename+"\');>删除</button>";
                return htm_str;
            }
        }*/
    ],]
    });
   }

        $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {
            $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
            selections = getIdSelections();
        });
        $table.on('expand-row.bs.table', function (e, index, row, $detail) {
            if (index % 2 == 1) {
                $detail.html('Loading from ajax request...');
                $.get('LICENSE', function (res) {
                    $detail.html(res.replace(/\n/g, '<br>'));
                });
            }
        });


    $remove.click(function () {
        var ids = getIdSelections();
        console.log(ids);
        delete_file(ids);

    });

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }


    function totalTextFormatter(data) {
        return 'Total';
    }






    function  delete_file(ids) {
        post_dict = {"filename": ids,
            "action_type": "delete",
            "csrfmiddlewaretoken": csrf_token};
        console.log(post_dict);
        $.ajax({
            url: "/manage/files-list/",
            type: "POST",
            data: post_dict,
            dataType: "json",
            beforeSend:function(XMLHttpRequest){
               $("#loading").html("<img src='/static/admin/img/loading.gif' />");
              showMask();
            },
            success: function (sdata) {
                console.log(sdata);
                if (sdata.statue == '0'){
                    showBody();
                    alert("删除文件成功!");
                }else{
                    showBody();
                    alert("删除文件失败: " + sdata.msg);
                }
                location.reload();
            }, error: function (edata) {
                showBody();
                alert("删除文件失败" + edata);
            },complete: function(){
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: ids
                });
                $remove.prop('disabled', true);
            }
        });
    }

    function  statement_update_file(filename) {
        var post_dict = {"filename": filename,
            "action_type": "update_statement",
            "csrfmiddlewaretoken": csrf_token};
        console.log(post_dict);
        $.ajax({
           url: "/manage/files-list/",
            type: "POST",
            data: post_dict,
            dataType: "json",
            beforeSend:function(XMLHttpRequest){
               $("#loading").html("<img src='/static/admin/img/loading.gif' />");
               showMask();
            },
            success: function (sdata) {
                console.log(sdata)
                 showBody();
                if (sdata.statue == '0'){
{#                    alert("更新成功!");#}
                    location.reload()
                }else{
                    alert("更新失败, "+sdata.msg);
                }
            }, error: function (edata) {
                console.log(edata);
                showBody();
                alert("更新失败!" + edata.msg);
            }
        });
    }


    function error_detail(thisobj) {
        line_id = $(thisobj).parent("td").parent("tr").children("td:first").text();
        $.ajax({
            url: "/manage/get-update-error-msg/",
            type: "GET",
            data: {"uid":line_id},
            dateType:"json",
            beforeSend:function(XMLHttpRequest){
               $("#loading").html("<img src='/static/admin/img/loading.gif' />");
               showMask();
            },
            success: function (sdata) {
                 showBody();
                sdata = JSON.parse(sdata)
                if (sdata.statue == '0' || sdata.statue == 0){
                    if (sdata.msg.length == 0){
                        alert("没有异常信息!");
                    }else {
                        alert("异常信息是: " + sdata.msg);
                    }
                }else{
                    alert("查看失败:  "+sdata.msg);
                }
            }, error: function (edata) {
                console.log(edata);
                showBody();
                alert("查看失败!" + edata);
            }
        })
    }
    function showMask(){
        $('body').css("overflow","hidden")
{#        $("#cover").show();#}
        $("#cover").css("display", "block");
    }
    function showBody() {
        $('body').css("overflow","visible");
        $("#cover").css("display", "None");
        $("#loading").empty();
{#        $("#cover").show();#}
    }



$(function (){
    initTable();
});
    </script>


{% endblock %}
