{% extends "base.html" %}
{% load staticfiles %}



{% block active_list %}
        <li ><a href="/manage/files-list/"   class="J_pro"><i class="fa fa-link"></i> <span>文件列表</span></a></li>
        <li  ><a href="/manage/"><i class="fa fa-link"></i> <span>文件上传</span></a>
        </li>
        <li ><a href="/manage/filename-to-storename/"   class="J_pro"><i class="fa fa-link"></i> <span>文件名对应店铺</span></a></li>
         <li class="active"><a href="/manage/inventory-report-import/"   class="J_pro"><i class="fa fa-link"></i> <span>InventoryReport导入</span></a></li>
{% endblock %}


