{% extends "base.html" %}
{% load staticfiles %}




{% block links %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">
<link href="{% static 'admin/css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">

<link href="{% static 'admin/css/plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">
<link href="{% static 'admin/css/plugins/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet">

<style type="text/css">
.loading{
{#    width:160px;#}
{#    height:56px;#}
    position: absolute;
    top:10%;
    left:45%;
    margin-left:auto;margin-right:auto;
    opacity: 0.7;
    z-index:9999;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.cover {
    position:fixed; top: 0px; right:0px; bottom:0px;filter: alpha(opacity=60); background-color: #777;
    z-index: 1002; left: 0px; display:none;
    opacity:0.5; -moz-opacity:0.5;
}
</style>


{% endblock %}



{% block active_list %}
        <li ><a href="/manage/files-list/"   class="J_pro"><i class="fa fa-link"></i> <span>文件列表</span></a></li>
        <li  ><a href="/manage/"><i class="fa fa-link"></i> <span>文件上传</span></a>
        </li>
        <li ><a href="/manage/filename-to-storename/"   class="J_pro"><i class="fa fa-link"></i> <span>文件名对应店铺</span></a></li>
         <li class="active"><a href="/manage/inventory-report-import/"   class="J_pro"><i class="fa fa-link"></i> <span>InventoryReport导入</span></a></li>
{% endblock %}






{% block content %}
<div id="cover" class="cover"></div>

<div class="loading" id="loading"></div>




<div class="row" >
    <div class="col-lg-12">
            <div class="alert alert-error" id="alert-error-id" style="display: none">
                <a class="alert-link">{{ result.msg }}</a>
           </div>
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Inventory-Reports导入</h3>
                </div>

                <div class="ibox-content">
{#                    <button class="btn btn-primary" data-toggle="modal" data-target="#add_line">添加</button>#}
{#                    <button class="btn btn-primary" data-toggle="modal" data-target="#add_many_line">店铺导入</button>#}
{#                    <button class="btn btn-primary" data-toggle="modal" data-target="#add_token_id">Token导入</button>#}

{#                    <button class="btn btn-primary" data-toggle="modal" data-target="#add_many_line">inventory_report导入</button>#}
                    <button class="btn btn-primary" data-toggle="modal"  onclick="javascript:location.href='/manage/inventory-report-upload/'">inventory_report导入</button>

                    <div class="project-list">
                        {% csrf_token %}
                        <div id="toolbar">
                          <button id="remove" class="btn btn-danger" disabled>
                            <i class="glyphicon glyphicon-remove"></i> Delete
                          </button>
                        </div>
                        <table class="table table-hover" id="filename-to-storename-table-id">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






          <!-- 模态框（Modal） -->
        <div class="modal fade bd-example-modal-lg" id="add_many_line" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel" aria-hidden="true">
           <div class="modal-dialog modal-lg">
             <div class="modal-content">
               <form class="form-horizontal" method="post" action="/manage/inventory-report-import/">
                    {% csrf_token %}
                 <div class="modal-header">
                    <button type="button" class="close"
                       data-dismiss="modal" aria-hidden="true">
                          &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                       <h2>Inventory-Report导入</h2>
                    </h4>
                 </div>


                 <div class="modal-body">

                     <div class="row">
                       <div class="col-md-12">
{#                           <h3>表格必须含有这些字段表头: </h3>#}
                       </div>
                         <hr />
                         <br />
                       <div class="col-md-12" style="min-height: 300px;">
                            <label class="control-label">选择文件</label>
                            <input type="file" name="filename" id="report-filename-id">
                        </div>

                     </div>
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                       data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick=javascript:report_import(this); >
                       确认
                    </button>
                 </div>
                 </form>
               </div>
             </div><!-- /.modal-content -->
        </div><!-- /.modal -->



{% endblock %}



{% block footer %}

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>

<script src="{% static 'admin/js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>


    <script>
    var csrf_token  = $("[name='csrfmiddlewaretoken']").val();
    
    var $table = $('#filename-to-storename-table-id');
    var $remove = $('#remove');
    selections = [];

 function initTable(){
    $table.bootstrapTable({
        url: '/manage/inventory-report-import/',
        method: 'post',
        toolbar: '#toolbar', //工具按钮用哪个容器
        search: true,
        strictSearch: true,
        showRefresh: true,
        showToggle: true,
        striped: true, //是否显示行间隔色
    {#    cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）#}
        sortable: true, //是否启用排序
        sortOrder: "trade_id", //排序方式
        pageNumber: 1, //初始化加载第一页，默认第一页
        pageSize: 12, //每页的记录行数（*）
        pageList: [20, 50, 100, 150], //可供选择的每页的行数（*）
        dataType: "json",
        queryParams: {"is_query": "1", "platform":'amazon', "csrfmiddlewaretoken":csrf_token},
        pagination: true,
        singleSelect: false,
    {#    sidePagination: "server",#}
        columns: [
        [
            {
                field: 'state',
                checkbox: true,
                rowspan: 2,
                align: 'center',
                valign: 'middle'
            },
            {
                title: 'Item Detail',
                colspan: 7,
                align: 'center'
            }
        ],
        [{
            field: "id",
            title: 'id',
            align: 'center',
            valign: 'middle'
        },{
            field: 'filename',
            title: '文件名',
            align: 'center',
            valign:'middle',
            formatter: function (value, row, index) {
                //fvalue = value.split("__");
                fvalue = value.split("/");
                filename = fvalue[fvalue.length-1];
                html_str = "<a href=javascript:ajax_download('"+filename+"')>"+filename+"</a>";
                return html_str;
                //return filename;
            }
        },{
            field: 'uploadtime',
            title: '上传时间',
            align: 'center',
            valign: 'middle'
        },{
            field: 'file_statue',
            title: "状态",
            align: 'center',
            valign:'middle',
            formatter: function (value, row, index) {
                if (value == '0'){
                    htm_str =  "<span >正常</span>";
                }else if(value == '1'){
                    htm_str =  "<span style='color:green'>正在更新..</span>";
                }else if(value == '2') {
                    htm_str =  "<span style='color:blue'>已更新</span>";
                }else{
                    htm_str =  "<a onclick=javascript:error_detail(this); ><span style='color:red'>异常</span></a>";
                }
                return htm_str;
            }
        },{
            field: "file_path",
            title: '更新',
            align: 'center',
            valign: 'middle',
            formatter:function (value, row, index) {
                filename = value.split("/");
                filename = filename[filename.length-1].replace(" ","");
                html_str = "<button class='btn btn-primary' onclick=javascript:report_update_file(\'"+filename+"\');>更新</button>";
                return html_str;
            }
        }
        /*, {
            field: 'file_path',
            title: "操作",
            align: 'center',
            valign:'middle',
            formatter: function (value, row, index) {
                filename = value.split("/");
                filename = filename[filename.length-1].replace(" ","");
                htm_str =  "<button class='btn btn-primary' onclick=javascript:delete_file(\'"+filename+"\');>删除</button>";
                return htm_str;
            }
        }
        */
        ],
      ]
    });
}


    
    function  report_update_file(filename) {
        var post_dict = {"filename": filename,
            "action_type": "update_report",
            "csrfmiddlewaretoken": csrf_token};
        console.log(post_dict);
        $.ajax({
           url: "/manage/files-list/",
            type: "POST",
            data: post_dict,
            dataType: "json",
            beforeSend:function(XMLHttpRequest){
               $("#loading").html("<img src='/static/admin/img/loading.gif' />");
               showMask();
            },
            success: function (sdata) {
                console.log(sdata)
                 showBody();
                if (sdata.statue == '0'){
{#                    alert("更新成功!");#}
                    location.reload()
                }else{
                    alert("更新失败, "+sdata.msg);
                }
            }, error: function (edata) {
                console.log(edata);
                showBody();
                alert("更新失败!" + edata.msg);
            }
        });
    }





    function report_import() {
        var action_type = "report_file";
        var csrf_token = $("[name='csrfmiddlewaretoken']").val();
        var formData = new FormData();
        formData.append("filename", document.getElementById("report-filename-id").files[0]);
        formData.append("action_type", action_type);
        formData.append("csrfmiddlewaretoken", csrf_token);

        $.ajax({
            url: "/manage/inventory-report-import/",
            type: "POST",
            data: formData,
            dataType: "json",
            processData: false,
            contentType: false,
            beforeSend:function(XMLHttpRequest){
               $("#loading").html("<img src='/static/admin/img/loading.gif' />");
               showMask();
               $("#add_many_line").modal('hide');
            },
            success: function (sdata) {
                showBody();
                if (sdata.statue == '0'){
                    alert("操作成功!"+sdata.msg);
                    location.reload();
                }else{
                    alert("操作失败: "+sdata.msg);
                }
            }, error: function (edata) {
                console.log(edata);
                showBody();
                alert("操作失败!");
            }
        });

    }

    function  add_token() {
        var csrf_token = $("[name='csrfmiddlewaretoken']").val();
        var formData = new FormData();
        formData.append("filename", document.getElementById("filename-token-id").files[0]);
        formData.append("csrfmiddlewaretoken", csrf_token);
        $.ajax({
            url: "/manage/filename-to-token/",
            type: "POST",
            data: formData,
            dataType: "json",
            processData: false,
            contentType: false,
            beforeSend:function(XMLHttpRequest){
               $("#loading").html("<img src='/static/admin/img/loading.gif' />");
               showMask();
               $("#add_token_id").modal('hide');
            },
            success: function (sdata) {
                showBody();
                if (sdata.statue == '0'){
                    alert("操作成功!"+sdata.msg);
                    location.reload();
                }else{
                    alert("操作失败: "+sdata.msg);
                }
            }, error: function (edata) {
                console.log(edata);
                showBody();
                alert("操作失败!");
            }
        });
    }


    function ajax_download(filename){
        var form=$("<form>");//定义一个form表单
        form.attr("style","display:none");
        form.attr("target","");
        form.attr("method","get");
        form.attr("action","/manage/ajax-download-filename/");

        var input1=$("<input>");
        input1.attr("type","hidden");
        input1.attr("name","filename");
        input1.attr("value",filename);

        var input2=$("<input>");
        input2.attr("type", "hidden");
        input2.attr("name", "download_report");
        input2.attr("value", "1")

        $("body").append(form);//将表单放置在web中
        form.append(input1);
        form.append(input2);
        form.submit();//表单提交 
    }

   $table.on('check.bs.table uncheck.bs.table ' +
         'check-all.bs.table uncheck-all.bs.table', function () {
         $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
         selections = getIdSelections();
    });
    $table.on('expand-row.bs.table', function (e, index, row, $detail) {
        if (index % 2 == 1) {
            $detail.html('Loading from ajax request...');
            $.get('LICENSE', function (res) {
                $detail.html(res.replace(/\n/g, '<br>'));
            });
        }
    });


    $remove.click(function () {
        var ids = getIdSelections();
        console.log(ids);
        delete_file(ids);

    });

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }


    function totalTextFormatter(data) {
        return 'Total';
    }


    function  delete_file(ids) {
        post_dict = {"ids": ids,
            "action_type": "delete", "inventory":"1",
            "csrfmiddlewaretoken": csrf_token};
        $.ajax({
            url: "/manage/files-list/",
            type: "POST",
            data: post_dict,
            dataType: "json",
            beforeSend:function(XMLHttpRequest){
               $("#loading").html("<img src='/static/admin/img/loading.gif' />");
              showMask();
            },
            success: function (sdata) {
                console.log(sdata);
                if (sdata.statue == '0'){
                    showBody();
                    alert("删除文件成功!");
                }else{
                    showBody();
                    alert("删除文件失败: " + sdata.msg);
                }
                location.reload();
            }, error: function (edata) {
                showBody();
                alert("删除文件失败" + edata);

            }
        });
    }



    function error_detail(thisobj) {
        line_id = $(thisobj).parent("td").parent("tr").children("td:first").text();
        $.ajax({
            url: "/manage/get-update-error-msg/",
            type: "GET",
            data: {"uid":line_id},
            dateType:"json",
            beforeSend:function(XMLHttpRequest){
               $("#loading").html("<img src='/static/admin/img/loading.gif' />");
               showMask();
            },
            success: function (sdata) {
                 showBody();
                sdata = JSON.parse(sdata)
                if (sdata.statue == '0' || sdata.statue == 0){
                    if (sdata.msg.length == 0){
                        alert("没有异常信息!");
                    }else {
                        alert("异常信息是: " + sdata.msg);
                    }
                }else{
                    alert("查看失败:  "+sdata.msg);
                }
            }, error: function (edata) {
                console.log(edata);
                showBody();
                alert("查看失败!" + edata);
            }
        })
    }


    function infos_to_modal(infos){
        $("[name='storename']").val(infos.storename);
        $("[name='email']").val(infos.email);
        $("[name='serial_number']").val(infos.serial_number);
        $("[name='manager']").val(infos.manager);
        $("[name='payment_time']").val(infos.payment_time);
    }

    function delete_modal_data(){
        $("[name='storename']").val("");
        $("[name='email']").val("");
        $("[name='serial_number']").val("");
        $("[name='manager']").val("");
    }

    function showMask(){
        $('body').css("overflow","hidden")
{#        $("#cover").show();#}
        $("#cover").css("display", "block");
    }
    function showBody() {
        $('body').css("overflow","visible");
        $("#cover").css("display", "None");
        $("#loading").empty();
{#        $("#cover").show();#}
    }


    $('#data_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true,
        format: "yyyy-mm-dd"
    });





    function init() {
        initTable();
        if ("{{ result.statue }}" == "0"){
            $("#alert-error-id").css("display", "block");
            $("#alert-error-id > a").text("{{ result.msg }}");
        }
        delete_modal_data();
    }
    init();
    </script>




{% endblock %}



