{% extends "base.html" %}
{% load staticfiles %}


{% block links %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">

<style type="text/css">
.loading{
    position: absolute;
    top:10%;
    left:45%;
    margin-left:auto;margin-right:auto;
    opacity: 0.7;
    z-index:9999;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.cover {
    position:fixed; top: 0px; right:0px; bottom:0px;filter: alpha(opacity=60); background-color: #777;
    z-index: 1002; left: 0px; display:none;
    opacity:0.5; -moz-opacity:0.5;
}
</style>


{% endblock %}


{% block active_list %}
        <li ><a href="/manage/files-list/"   class="J_pro"><i class="fa fa-link"></i> <span>文件列表</span></a></li>
        <li ><a href="/manage/"><i class="fa fa-link"></i> <span>文件上传</span></a></li>
        <li ><a href="/manage/filename-to-storename/"   class="J_pro"><i class="fa fa-link"></i> <span>文件名对应店铺</span></a></li>
        <li ><a href="/manage/inventory-report-import/"   class="J_pro"><i class="fa fa-link"></i> <span>InventoryReport导入</span></a></li>
        <li ><a href="/manage/other-handle-import/"   class="J_pro"><i class="fa fa-link"></i> <span>other导入</span></a></li>
        <li class="active"><a href="/manage/other-handle-upload/"   class="J_pro"><i class="fa fa-link"></i> <span>other下载</span></a></li>
{% endblock %}




{% block content %}
<div id="cover" class="cover"></div>

<div class="loading" id="loading"></div>
<div class="row" >
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>上传的文件列表</h5>

                </div>
                <div class="ibox-content">

                    <div class="project-list">
                        {% csrf_token %}
                        <div id="toolbar">
                          <button id="remove" class="btn btn-danger" disabled>
                            <i class="glyphicon glyphicon-remove"></i> Delete
                          </button>
                        </div>
                        <table class="table table-hover" 
                               id="list-files-table-id"  
                               data-show-export="true"
                               data-show-columns="true"
                               data-show-pagination-switch="true"
                               >
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block footer %}

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.js"></script>

<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>

<script src="http://issues.wenzhixin.net.cn/bootstrap-table/assets/bootstrap-table/src/extensions/export/bootstrap-table-export.js"></script>
<script src="http://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>




<script>
    $(function (){
        initTable();
    });
    var csrf_token  = $("[name='csrfmiddlewaretoken']").val();
    var $table = $('#list-files-table-id');
    var $remove = $('#remove');
    selections = [];

    function initTable() {
    $table.bootstrapTable({
        url: '/manage/other-handle-upload-data/',
        toolbar: '#toolbar',               //工具按钮用哪个容器
        search: true,
        strictSearch: true,
        showRefresh: true,
        showToggle: true,
        striped: true,                    //是否显示行间隔色

        sortable: true,                   //是否启用排序
        pageNumber: 1,                    //初始化加载第一页，默认第一页
        pageSize: 10,                     //每页的记录行数（*）
        pageList: [10, 20, 100,150, 500], //可供选择的每页的行数（*）
        dataType: "json",
        queryParamsType: "",
        pagination: true,
        singleSelect: false,
        sidePagination: "server",         //服务器分页
        columns: [
        {
            field: '',
            checkbox: true,
            align: 'center',
            valign: 'middle'
        },{
            field: 'file_name',
            title: '文件名称',
            align: 'center',
            valign: 'middle',
            formatter:function (data,value,index) {
                var filename = data;
                html_str = "<a href=javascript:ajax_download('"+value.id+"')>"+filename+"</a>";
                return html_str;
            }
        },{
            field: 'status',
            title: '处理进度',
            align: 'center',
            valign:'middle',
            formatter: function (data) {
                if (data == 0){
                    return '<span class="label label-info">正在处理...</span>';
                }else if(data == 1){
                    return '<span class="label label-success">成功</span>';
                }else {
                    return '<span class="label label-danger">失败</span>';
                }
            }
        },{
            field: "",
            title: '下载',
            align: 'center',
            valign: 'middle',
            formatter:function (data,value,index) {
                var status = value.status;
                if (status == 1)
                    return '<button class="btn btn-primary" onclick="ajax_download('+value.id+')">下载</button>';
                else
                    return '<button class="btn btn-primary" disabled="disabled" onclick="ajax_download('+value.id+')">下载</button>';
            }
        }
    ]
    });
   }

    function ajax_download(id){
        var form=$("<form>");//定义一个form表单
        form.attr("style","display:none");
        form.attr("target","");
        form.attr("method","post");
        form.attr("action","/manage/other_handle_ajax_upload/");
        var input1=$("<input>");
        input1.attr("type","hidden");
        input1.attr("name","fileid");
        input1.attr("value",id);
        $("body").append(form);//将表单放置在web中
        form.append(input1);
        form.submit();//表单提交
    }


    $table.on('check.bs.table uncheck.bs.table ' +
         'check-all.bs.table uncheck-all.bs.table', function () {
         $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
         selections = getIdSelections();
    });
    $table.on('expand-row.bs.table', function (e, index, row, $detail) {
        if (index % 2 == 1) {
            $detail.html('Loading from ajax request...');
            $.get('LICENSE', function (res) {
                $detail.html(res.replace(/\n/g, '<br>'));
            });
        }
    });


    $remove.click(function () {
        var ids = getIdSelections();
        console.log(ids);
        delete_file(ids);

    });

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }

    function  delete_file(ids) {
        post_dict = {"ids": ids,
            "csrfmiddlewaretoken": csrf_token};
        console.log(post_dict);
        $.ajax({
            url: "/manage/other-handle-file-delet/",
            type: "POST",
            data: post_dict,
            dataType: "json",
            beforeSend:function(XMLHttpRequest){
               $("#loading").html("<img src='/static/admin/img/loading.gif' />");
              showMask();
            },
            success: function (sdata) {
                console.log(sdata);
                if (sdata){
                    showBody();
                    alert("删除文件成功!");
                }else{
                    showBody();
                    alert("删除文件失败: " + sdata.msg);
                }
                location.reload();
            }, error: function (edata) {
                showBody();
                alert("删除文件失败" + edata);
            },complete: function(){
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: ids
                });
                $remove.prop('disabled', true);
            }
        });
    }
     function showMask(){
        $('body').css("overflow","hidden")
        $("#cover").css("display", "block");
    }
    function showBody() {
        $('body').css("overflow","visible");
        $("#cover").css("display", "None");
        $("#loading").empty();
    }
    </script>


{% endblock %}
